# environment and secrets
.env

# Python cache and compiled files
__pycache__/

# virtual environments
venv/
.venv/
uv.lock
*.egg-info

# IDE and editor files
.vscode/
.coverage

# database files
docker_volumes/