# environment and secrets
.env

# Python cache and compiled files
__pycache__/
__init__.py

# virtual environments
venv/
.venv/

# IDE and editor files
.vscode/
.coverage

# database files
data/db_postgres/
data/db_mongo/

# other files
est.txt
duet_info.txt
rules.pdf