<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>{% block title %}Codenames Duet: LLM Bias Analysis{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap"
        rel="stylesheet" />
    <script>
        tailwind.config = {
            darkMode: "class",
            theme: {
                extend: {
                    colors: {
                        // Light mode colors
                        primary: "#10b981",
                        "primary-content": "#ffffff",
                        "primary-light": "#ecfdf5",
                        "background-light": "#f9fafb",
                        "surface-light": "#ffffff",
                        "text-main": "#0d141b",
                        "border-light": "#e7edf3",
                    },
                    fontFamily: {
                        "display": ["Geist", "sans-serif"],
                        "body": ["Geist", "sans-serif"],
                    },
                    borderRadius: {
                        DEFAULT: "0.25rem",
                        "lg": "0.5rem",
                        "xl": "0.75rem",
                        "full": "9999px"
                    },
                },
            },
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>

</head>

<body
    class="bg-background-light dark:bg-background-dark text-text-main dark:text-slate-100 font-display min-h-screen flex flex-col">
    {% include "main_header.html" %}

    <!-- Main content area -->
    <main class="flex-grow">
        {% block content %}{% endblock %}
    </main>

    {% include "footer.html" %}
</body>

</html>